* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

main {
  background-color: #D9D9D9;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
}

section {
  background-color: #fff;
  border-radius: 20px;
}

.section-metricas {
  background-color: transparent;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.div-metrica1 {
  background: radial-gradient( #ffffff2a, #5383EC );
  border-radius: 20px;
}

.div-metrica2 {
  background: radial-gradient(#ffffff2a, #9C55EC);
  border-radius: 20px;
}

.div-metrica3 {
  background: radial-gradient(#ffffff2a, #111E5F);
  border-radius: 20px;
}

.div-metrica4 {
  background: radial-gradient(#ffffff2a, #F1911E);
  border-radius: 20px;
}

.section-metricas, .section-vendas {
  grid-column: span 2;
}