* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 80px 70px 110px;
  background-color: #fff;
}

header h1 {
  font-weight: 300;
  color: #23306A;
  font-size: 26px;
  width: 600px;
}

header h1 > span {
  font-weight: 600;
}

main {
  margin-top: -60px;
  background-color: #D9D9D9;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  padding: 0 70px;
}

section {
  background-color: #fff;
  border-radius: 20px;
}

section img {
  width: 100%;
}

section h1 {
  font-size: 22px;
  font-weight: 400;
}

.section-metricas {
  background-color: transparent;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
}

.section-metricas > div {
  z-index: 2;
  padding: 12px 30px;
  border-radius: 20px;
}

.div-metrica1 {
  background: radial-gradient(circle at top center,  #9bb7f4, #5383EC );
}

.div-metrica2 {
  background: radial-gradient(circle at top center, #d0aef6, #9C55EC);
}

.div-metrica3 {
  background: radial-gradient(circle at top center, #8f95b4, #111E5F);
}

.div-metrica4 {
  background: radial-gradient(circle at top center, #f8c68b, #F1911E);
}

.metrica-span1 {
  font-size: 36px;
  font-weight: 600;
  display: block;
}
.metrica-span2 {
  color: #82FFB7;
}
.metrica-span2::before {
  content: url(./seta.png);
  margin-right: 5px;
}

.adocao, .retencao, .engajamento, .sucesso, .section-vendas h1{
  display: flex;
  justify-content: space-between;
}

.adocao::after {
  content: url(./icone1.png);
}

.retencao::after {
  content: url(./icone2.png);
}

.sucesso::after {
  content: url(./icone3.png);
} 
.engajamento::after {
  content: url(./icone4.png);
}

.section-metricas, .section-vendas {
  grid-column: span 2;
}

.section-satisfacao, .section-engajamento {
  padding: 25px;
}

.section-satisfacao{
  text-align: center;
}

.section-vendas {
  padding: 35px 50px;
}

.section-satisfacao h1 {
  text-align: left;
}
.section-engajamento h1, .section-satisfacao h1, .section-vendas h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-satisfacao h1::before {
  content: url(./icone5.png);
}
.section-engajamento h1::before {
  content: url(./icone6.png);
}

.section-vendas h1::after {
  content: url(./icone7.png);
}